{{>navbar/nav}}
<div class="container">
  <h1 class='title-white' style="font-family: 'Nunito', sans-serif; font-size: 80px;">Cookbook</h1>
  <h3 class="title-white" style="font-family: 'Quicksand', sans-serif;">A recipe is a story that ends with a good meal. -Pat Conroy</h3>
  {{#if homePage}}<button class='btn btn-sm btn-danger' id='newRecipe'>Post new recipe</button>{{/if}}
  <br>
  <br> {{#if recipe}}
  <div class='container animated fadeIn'>
    {{#each recipe}}
    <div class='col-sm-4'>
      <div class='recipe-img-container text-center' recipe-id='{{id}}' {{#if recipeImg}}style="background-image: url('{{recipeImg}}')"{{else}}style="background-image: url('../assets/images/recipe-img-stock.jpeg')"{{/if}}>
        <div class='recipe-name text-center title-white'>{{recipeName}}</div> 
        <div class='author-name title-white'>By: {{User.username}}</div>
      </div>
    </div>
    {{/each}}
  </div>{{else}}
  <div class='title-white'>No Results Found
    <div>
      {{/if}}
     <script src='../assets/js/home.js'></script>