{{>navbar/nav}}
<div class="container">
  <h1 class='title-white'>Cookbook</h1>
  <button class='btn btn-sm btn-danger' id='newRecipe'>Post new recipe</button>
  <br>
  <br>
    <div class='container background-transparent-black'>
      {{#each recipe}}
      <div class='col-sm-4'>
        <div class='recipe-img-container text-center' recipe-id='{{id}}' style='background-image: url({{recipeImg}})'>
          {{!-- <img class='img-responsive recipe-img-home' src="{{recipeImg}}"> --}}
          <div class='recipe-name text-center title-white'>{{recipeName}}</div>
          <div class='author-name title-white'>By: {{User.username}}</div>
        </div>
      </div>
      {{/each}}
    </div>

<script src='assets/js/home.js'></script>