{{>navbar/nav}}
<div class="container">
    <div class="singleRecipe">
   
        <div class="imgBox col-sm-6 col-sm-offset-3">
          <img class="img-responsive recipeImg" src="https://bloximages.newyork1.vip.townnews.com/omaha.com/content/tncms/assets/v3/editorial/d/36/d36ef710-4e7b-5bcb-bc80-04777cb603f5/5834c8cb81b70.image.jpg?resize=1200%2C800" class="img-responsive">
        </div>
    
         
        <div class="instructionBox col-sm-6 col-sm-offset-3 text-center">
             <h1 class="text-success recipeName" data-recipeId="{{id}}">{{User.username}}'s {{recipeName}} Recipe</h1> 
             <h2>Instructions</h2>
             <h4 class="text-danger">{{recipeInstructions}}</h4>   
        </div>
         
    
        <div class="ingredientBox col-sm-6 col-sm-offset-3">
        <h2 class="text-center">Ingredients</h2>
        <ul class="list-unstyled text-center">
        {{#each Ingredients}} 
        <li>{{#each Measurements}} {{measurement}} {{/each}}  {{ingredientName}}</li>
        <br>
        {{/each}}   
        </ul>
        </div>
    
        
        <div class="nutritionBox col-sm-6 col-sm-offset-3">
        <div class="col-sm-10 col-sm-offset-1" id="nutritionDiv" data-nutrition="[{{nutrition.1.Fat}}, {{nutrition.3.Carbs}}, {{nutrition.2.Protein}}]">
            <canvas id='nutrition'></canvas>
            <p class="text-center">Total Calories: {{nutrition.0.Calories}}</p>
        
        </div>
    </div>
</div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js'></script>
<script src='../assets/js/nutrition.js'></script>
<script src="../assets/js/singleRecipe.js"></script>